.audioPlayer {
  --primary: #17b24e;
  --secondary: aliceblue;

  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.audioControls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.progressBarContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.controlButton {
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}

.forwardBackward {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  font-family: monospace;
  font-size: 26px;
  cursor: pointer;
  height: 45px;
  width: 45px;
  border-radius: 150px;
  background: #202227;
  box-shadow: 20px 20px 39px #16171b, -20px -20px 39px #2a2d33;
}

.forwardBackward:hover {
  color: var(--primary);
}

.playPause {
  background: var(--primary);
  border: none;
  height: 55px;
  width: 55px;
  font-size: 32px;
  color: var(--secondary);
  border-radius: 150px;
  background: #17b24e;
  box-shadow: 20px 20px 39px #16171b, -20px -20px 39px #2a2d33;
}

.play {
  position: relative;
  left: 2px;
}

.currentTime,
.duration {
  font-family: monospace;
  font-size: 16px;
  margin-bottom: 0px;
}

.currentTime {
  margin-right: 1em;
}

.duration {
  margin-left: 1em;
}

.progressBar {
  --bar-bg: #dedede;
  --seek-before-width: 0;
  --seek-before-color: #b3b3b3;
  --knobby: #3452a5;
  --selectedKnobby: #26c9c3;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 12.93em;
  min-width: 12.93em;
  height: 11px;
  outline: none;
}

.progressBar::-moz-focus-outer {
  border: 0;
}

/* progress bar - chrome & safari */

.progressBar::before {
  content: "";
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: none;
  background-color: var(--knobby);
  cursor: pointer;
  position: relative;
  margin: -2px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
}

.progressBar:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: var(--selectedKnobby);
}
